<html>
<head>
  <title>Login</title>
  <link rel="stylesheet" href="/css/main.css" type="text/css">
  <link rel="icon" href="/css/logo.png">
</head>
<body type="login">
    
    <% if(error) { %>
        
        <div id="error-message" class="show">
            <%= error %>
        </div>
        <script>
            setTimeout(function(){
            document.getElementById("error-message").classList.remove("show");
            document.getElementById("error-message").classList.add("hide");
        }, 3000);
        </script>
    
    <% } %>
    
    <a href="/" id="logo" type="regLog">SortIT</a>
    
    <nav>
        <div id="pageTitle">Witaj z powrotem!</div>
    </nav>
    
    <form type="login" action="/login" method="POST">
        
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" required><br>
        
        <label for="password">Hasło:</label><br>
        <input type="password" id="password" name="password" required><br><br>
        
        <input type="submit" id="loginRegister" value="Zaloguj">
        
        <div class="container signin">
            <p>Nie posiadasz jeszcze konta? <a href="/register" id="signinRegisterSubbuttons">Zarejestruj się</a>.</p>
        </div>
    </form> 
    
    <footer>
        <pre>
Tomasz Kozieł
TI 2022 Kraków
        </pre>
    </footer>
      
</body>
</html>